params {

	// WORKFLOW PARAMETERS TO REVIEW AT EACH RUN
	// ----------------------------------------

    // list of genes to use
    genelist = ""

	// Where to place results
	results = "$launchDir/results"

    // whether to clean up work directories after a successful run
    cleanup = false

    // Email address to pass on to NCBI for tracking purposes
    email = ""

    // Tuning parameter for DBSCAN
    tuningparam = 1.0

	// whether to crash at any error
	debugmode = false


	// WORKFLOW PARAMETERS THAT SHOULD NOT BE CHANGED
	// ----------------------------------------
    scripts = "$projectDir/2024-team-landrum-song"


}


// WHETHER TO GENERATE A REPORT OF RUN STATISTICS
report {
    enabled = true
    overwrite = true
    file    = "${params.results}/clin-cluster-report.html"
}


// WHETHER TO GENERATE A VISUALIZATION OF THE WORKFLOW
dag {
	enabled = true
	overwrite = true
	file = 'clincluster-visualization.png'
}


// WHETHER TO REMOVE TEMPORARY FILES AFTER A SUCCESSFUL RUN
cleanup = params.cleanup


// PROFILE OPTIONS
profiles {

	standard {

		docker.enabled = true
		apptainer.enabled = false
		conda.enabled = false

		process.container = "nrminor/ncbi-ml-ai:v0.0.2"

	}

	docker {

		docker.enabled = true
		apptainer.enabled = false
		conda.enabled = false

		process.container = "nrminor/ncbi-ml-ai:v0.0.2"

	}

	apptainer {

		apptainer.enabled = true
		docker.enabled = false
		conda.enabled = false

		process.container = "nrminor/ncbi-ml-ai:v0.0.2"

	}

}


// MANIFEST
manifest {
	homePage = 'https://github.com/NCBI-Codeathons/mlxai-2024-team-landrum-song'
	mainScript = 'main.nf'
	defaultBranch = 'main'
	description = ''
	author = ''
}
